*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 2rem;
}
h2{
    background-color: red;
}
h2,p{
margin: 10px auto;
}

.logo{

    position: absolute;
    height: 350px;
    width: 250px;
    right: 0px;
    background-image: url(./RADHE_RADHE.jpg);
    background-size: cover;
    border: 1px dashed black;
    
}

table{
    border: 1px solid;
    margin-left: 5px;
}

tr,th,td{
    border: 1px solid;
}

.socialmedia li{
list-style: none;

}
.socialmedia a{
    text-decoration: none;
}

.socialmedia_inner{
    display: flex;
    justify-content: space-around;
}

.socialmedia_inner a:hover{
    color: chocolate;
}